.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn
{
    padding: 5px 10px;
    color: black;
    bottom: 2px solid;
    border-color: black;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'PT Sans', sans-serif;
}
.my-1{
    margin: 5px 0;
}

.my-2{
    margin: 26px 0;
}

.text-center{
    text-align: center;
}